*.jpeg
*.jpg
*.csv
*.json
*.zip
*.txt
*.tar
*.pickle
*.hdf5
*.xml
*.png
*.xlsx
*.tif
*.svs
*.npy
*.DS_Store
*.pyc
!requirements.txt
!breast_qa_full.csv
!tools_qa_full.csv
!breast_qa_per_question.csv
!idrid_qa_gt.csv
!image_*.txt
!train.txt
!val.txt
*.npz
*.pkl
logs/*
*.gz
*.out
data/*
logs*/*


# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
.vscode/settings.json
.vscode/settings.json
